.nav
    background-color: $nav-bg
    color: $nav-color
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem .5rem
    font-family: 'Poppins', sans-serif
    &__ul
        display: flex
        gap: 1rem
        justify-content: space-between
        align-items: center
        list-style: none
        &_li
            &_a
                color: $nav-link-color
                text-decoration: none
                transition: all .3s ease-in-out
                &:hover
                    color: $nav-link-hover-color
                    transition: all .3s ease-in-out
    &__imgbox
        width: auto
        height: 2.5rem
        &_img
            width: 100%
            height: 100%
            object-fit: contain
            object-position: center
            display: block
            transition: all .3s ease-in-out
            &:hover
                transform: scale(1.1)
                transition: all .3s ease-in-out